:root {
    --background: #f5f4f0;
    --border: #d9d9d9;
    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;
    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --accent-pink: #e5245e;
    --accent-purple: #591b98;
  }

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    width: 95%;
    max-width: 1120px;
    margin: auto;
    background-color: var(--background); 
    color: var(--text-primary);
    font-family: 'Open Sans', serif;

    .container {
        main {
            margin-top: 66px;

            h1{
                margin: 8px auto 40px auto;
            }

            .subtitle {
                font-size: 16px;
                line-height: 22px;
                font-style: italic;
                text-align: center;
                color: var(--text-secondary);
                margin-top: 24px;
              }
        }

        .content-list {
            .title-list {
                margin: 64px auto;

                h2 {
                    font-size: 32px;
                    font-weight: bold;
                    margin: 8px auto;
                    color: var(--text-primary);
                }
            }

            .list {
                .content-card {
                    margin: 20px auto 48px auto;

                    .title-h3 {
                        font-size: 28px;
                        linehight: 22px;
                        font-weight: bold;
                        color: var(--text-primary);
                    }

                    ol  {
                        list-style-position: inside;
                    }

                    ul  {
                        list-style-position: inside;
                    }

                    p {
                        margin-top: 8px;
                    }

                    ul {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: bold;
                        margin-top: 32px;
                    }

                    ul li::marker {
                        color: var(--text-secondary);
                    }

                    .accent-blue {
                        color: var(--accent-blue);
                      }
                      
                      .accent-orange {
                        color: var(--accent-orange);
                      }
                      
                      .accent-pink {
                        color: var(--accent-pink);
                      }
                      
                      .accent-purple {
                        color: var(--accent-purple);
                      }
                }
            }
        }

      .title-h1 {}

      .title-h2 { }

        .headline {
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            color: var(--text-headline);
            text-transform: uppercase; 
        }

        img {
            width: 100%; 
            border-radius: 28px; 
            object-fit: cover;
           // margin-top: 32px;
        }
    
        .divider {
            border: 1px solid var(--border);
            margin: 40px auto;
        }

        footer {
            p {
                text-align: center;
                margin-bottom: 17px;
            }
        }
    }

    .creditos {
        display: flex;

        span {
            margin: 48px auto;
        }
    }
}